<h1>Photos#index</h1>
<%@photos.each do|photo|%>
  <h3>Photo name:<%= link_to photo.tagline, photo %></h3>
<%end%>
<%=link_to "Home",albums_path%>
<div>
 <%=link_to "New Album", new_album_path %>
</div>


